@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  background: url(/images/login.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
  margin-bottom: 20vh;
}
footer {
  margin-top: 5vh;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  color: #f1f1f1;
  font-size: 1.2em;
  font-weight: 1600;
}
/*

making heading and footer animated


*/

h1 {
  color: #06649f;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}
h1 span {
  transition: 0.5s linear;
}
h1:hover span:nth-child(1) {
  margin-right: 5px;
}

h1:hover span:nth-child(2) {
  margin-left: 30px;
}
h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

/*

making heading and footer animated


*/
.form {
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
b {
  color: rgb(224, 219, 219);
}

/* Set a style for all buttons */
button {
  background-color: #020202;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.wrap {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

p {
  color: aliceblue;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 600px;
  height: 350px;
  margin: 20px;
  transition: 0.5s;
  align-items: center;
  background: rgb(71, 75, 81);
  background: rgba(255, 255, 255, 0.005);
  box-shadow: 0 4px 18px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.container .card img {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 400px;
  transform: translateX(-50%);
  transition: 0.5s;
}
.container .card:hover img {
  left: 73%;
  height: 500px;
}
.container .card .content {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.container .card .content h2 {
  color: rgb(248, 250, 251);
  text-transform: uppercase;
  line-height: 1em;
  font-size: 2.2em;
}
.container .card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 991px) {
  .container .card {
    width: auto;
    max-width: 600px;
    align-items: flex-start;
  }
  .container .card:hover {
    height: 600px;
  }
  .container .card:hover img {
    left: 50%;
    height: 350px;
  }
  .container .card .content {
    width: 100%;
    left: 0;
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .container .card {
    width: auto;
    max-width: 600px;
    margin: 40px 20px;
  }
}

@media (max-width: 420px) {
  .container .card .content {
    padding: 30px;
  }
  .container .card:hover img {
    height: 350px;
  }
}
